.button {
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
}

.p-dropdown {
  height: 40px !important;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: "#F5F5F5";
}

.dropdown-header {
  height: 30px !important;
  border-radius: 6px;
}

.p-dropdown-label {
  font-size: 90px;
}

.p-dropdown-item {
  font-size: 12px;
}

.p-dropdown .p-dropdown-label {
  padding: 8px 12px; /* default biasanya lebih besar */
  font-size: 12px;
}

.p-dialog {
  border-radius: 16px;
  overflow: hidden; /* penting biar isi ikut rounded */
}

.custom-dialog .p-dialog-header {
  border-bottom: 1px solid #e5e7eb; /* abu-abu tipis */
}

.custom-dialog .p-dialog-header {
  border-bottom: 1px solid #e5e7eb; /* abu-abu tipis */
}

.p-sortable-column-icon {
  width: 12px;
  height: 12px;
}

.p-inputtext {
  height: 30px;
  font-size: 12px;
  padding: 0 36px;
  display: flex;
  align-items: center;
}


/* container utama */
.p-tabmenu {
  background: transparent !important;
}

/* nav wrapper */
.p-tabmenu-nav {
  background: transparent !important;
}

/* tiap tab item */
.p-tabmenu .p-menuitem-link {
  background: transparent !important;
}

.p-tabmenu .p-menuitem-text {
  font-size: 12px;
}

/* =========================
   DATATABLE - NO BORDER ALL
========================= */

/* Wrapper utama */
.p-datatable {
  border: none !important;
  font-size: 12px !important;
}

/* Table */
.p-datatable table {
  border: none !important;
  border-collapse: collapse !important;
}

/* Header & Body cell */
.p-datatable [data-pc-section="headercell"],
.p-datatable [data-pc-section="bodycell"] {
  border: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Row */
.p-datatable tr {
  border: none !important;
}

/* Header container (yang ada search, button, dll) */
.p-datatable-header {
  border: none !important;
  background: transparent !important;
}

/* Footer container */
.p-datatable-footer {
  border: none !important;
}

/* Paginator */
.p-paginator {
  border: none !important;
  font-size: 14px !important;
}

/* Optional: hilangkan divider dalam paginator */
.p-paginator .p-paginator-pages .p-paginator-page {
  border: none !important;
}

.p-paginator .p-paginator-page,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last {
  font-size: 14px !important;
}

.sub-header {
  flex-direction: column;
  padding-left: 8px;
}

textarea:focus {
  outline: none; /* hilangkan default biru browser */
}

.p-inputtextarea {
  padding: 12px 16px !important;
  font-size: 12px;
  height: 120px !important;
}

.p-confirm-dialog .p-confirm-dialog-message {
  font-size: 14px !important;
}

.p-confirm-dialog .p-button {
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
}
